<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Speech-to-Text</title>
</head>
<body>
    <h1>Real-Time Speech Recognition</h1>
    <p id="status">Not Connected</p>
    <p id="transcript"></p>
    <button id="start">Start Recording (Microphone)</button>
    <button id="browser-audio">Browser-audio</button>
    <button id="stop">Stop Recording</button>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
